:root {
    /* COLORES */
    --color-a: #0a0a0f;
    --color-b: #11111a;
    --color-c: #1a1a2e;
    --color-d: #00f7ff;
    --color-e: #ff00e6;
    --color-f: #7b00ff;
    --color-h: #a754ff;
    --color-i: #00ff9f;
    --color-j: #ffae00;
    --color-k: #ff3c3c;
    --color-l: #e6e6e6;
    --color-m: #a0a0b0;


    /* OTRAS VARIABLES */
    --text-shadow-a: 0 2px 10px var(--color-e);
    --text-shadow-b: 0 2px 10px var(--color-f);

    --box-shadow-a: 0 0 15px 0 var(--color-f);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: #e8e8e8;
    background-color: #15152a !important;

    /* Haciendo que el footer siempre esté al final */
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
}

header {
    margin-bottom: 90px;
}

/* ----- BARRA DE NAVEGACIÓN ------ */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
    background-color: var(--color-b);
    position: fixed;
    border: 4px dashed var(--color-f);
    box-shadow: 0 0 15px 0 var(--color-f);
}

.nav__logo {
    width: 220px;
    height: 50px;
}

.nav__items {
    display: none;
    list-style: none;
    gap: 10px;
    color: #dddddd;
}

.nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 10px;
    color: var(--color-d);
    text-shadow: var(--text-shadow-b);
    transition: background-color 0.5s, color 0.5s, outline 0.2s, box-shadow 0.5s;
}

.nav__link:hover {
    background-color: var(--color-f);
    color: #292929;
    outline: 3px dashed var(--color-d);
    box-shadow: 0 0 10px 0 var(--color-d);
}

.nav__toggle {
    font-size: 2rem;
}

@media screen and (min-width: 426px) {
    .nav__toggle {
        display: none;
    }

    .nav__items {
        display: flex;
    }    
}


/* --------- HOLY GRAIL ---------- */
.wrapper-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    gap: 40px;
    margin-bottom: 50px;
}


/* Contenido Principal */
.main {
    flex: 1 2 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main__title {
    padding: 0 0 15px 15px;
    font-size: 2rem;
    color: var(--color-e);
    text-shadow: 5px 2px 15px var(--color-e);
}

.main__cover {
    width: 100%;
    border: 4px dashed var(--color-f);
    border-radius: 15px;
    box-shadow: var(--box-shadow-a);
}

.main__second-title {    
    margin-bottom: 20px;
    color: var(--color-e);
    text-shadow: var(--text-shadow-a);
}

.main__text {
    color: var(--color-h);
    text-shadow: var(--text-shadow-b);
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
    text-wrap: pretty;
}


/* Articulos recientes */
.articles__title {
    color: var(--color-d);
    text-shadow: 0 0 10px var(--color-d);
}

.articles-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.article__content {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.article__picture {
    width: 40%;
}

.article__image {
    width: 100%;
    border: 4px dashed var(--color-f);
    border-radius: 10px;
    box-shadow: var(--box-shadow-a);
}

.article__title-and-text {
    width: 60%;
}

.article__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-wrap: pretty;
    color: var(--color-d);
    text-shadow: var(--text-shadow-b);
}

.article__text {
    display: none;
    color: var(--color-h);
    text-shadow: var(--text-shadow-b);
}

.article__title:hover, .article__text:hover {
    color: var(--color-j);
}

.article__image:hover {
    box-shadow: 0 0 20px 0 var(--color-h);
    transform: scale(1.1);
}


@media screen and (min-width: 426px) {
    .articles-wrapper {
        gap: 50px;
    }

    .article__content {
        gap: 30px;
    }

    .article__text {
        display: block;
    }

    .article__title {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 769px) { 
    .articles-wrapper {
        flex-direction: row;
        gap: 50px;
    }

    .article {
        flex: 1 1 200px;
    }

    .article__content {
        flex-direction: column;
        gap: 10px;
    }

    .article__picture {
        width: 100%;
    }   

    .article__image, .article__title-and-text {
        width: 100%;
    }

    .article__title {
        font-size: 1.5rem;
    }

    .article__text {
        font-size: 1.3rem;
    }
}


/* Contenido secundario */
.aside {
    margin-top: 20px;
    flex: 2 1 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.aside__title {
    color: var(--color-d);
    text-shadow: 0 0 10px #00f7ff;
}

.aside__text {
    color: var(--color-h);
    text-shadow: 0 0 10px var(--color-f);
}

.aside__items {
    margin-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--color-i);
    text-shadow: var(--text-shadow-b);
}

.aside__text-2 {
    color: var(--color-d);
    text-shadow: var(--text-shadow-b);
}

.aside__items li {
    font-size: 1.4rem;
}

.aside__items li::marker {
    color: #ffa200;
    font-size: 1.2rem;
}

@media screen and (min-width: 769px) {
    .aside {
        margin-top: 50px;
    }    
}


/* ------ PIE DE PAGINA ------ */
footer {
    width: 100%;
    margin-top: auto; /* Para que el footer siempre esté abajo */
    padding: 40px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    border: 4px dashed var(--color-f);
    box-shadow: 0 0 15px 0 var(--color-f);
}

footer p {
    font-weight: bold;
}
